p {
    color: lightgreen;
}

.titulo {
    background-color: beige;
    color: chocolate;
    text-align: center;
}

.parrafo_blue{
    color: white;
    background-color: blue;
}

.holamundo1{
    color: lightblue;
}
.holamundo2{
    color: lightblue;
}
.holamundo2{
    color: lightblue;
}